body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

@font-face {
  font-family: 'Starjedi';
  font-style: normal;
  font-weight: normal;
  src: local('Starjedi'), url('Starjedi.ttf'); 
}

h1 {
  font-family: 'Starjedi';
  font-weight: 900;
  color: #F9D71C;
}

h1 span { display: table; }